# Ignore Mac temp file
.DS_Store

# Ignore IDE directory
.idea/

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore docker data directory
docker/kafka/
docker/flink/data/